*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(to right, #FFF2E1, #A79277);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.country{
    background: #eed7ba;
    border-radius: 15px;
    box-shadow: 0 3px 15px rgba(92, 91, 91, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.country .img-container{
    width: 175px;
    height: 175px;
    text-align: center;
    margin: auto;
}

.country .img-container img{
    max-width: 100%;
    margin-top: 30px;
    /* margin: 20px auto 0 auto; */
}

.country .information{
    margin-top: 20px;
}

.country:hover {
    transform: translateY(-10px);
}