@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* Header.css */

header {
    background-color: #373A40;
    padding: 10px 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 48px; /* ขนาดไอคอน */
    height: 48px; /* ขนาดไอคอน */
}

.contact-info {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
}

@media (max-width: 768px) {
    .contact-info{
        font-size: 12px;
        font-weight: 400;
    }
    .logo{
        font-size: 16px;
    }
    .logo-icon{
        margin-bottom: 5px;
        width: 32px; /* ขนาดไอคอน */
        height: 32px; /* ขนาดไอคอน */
    }
    .header-container {
        flex-direction: column;
        text-align: center;
    }
}
