* {
  box-sizing: border-box;
}

:root {
  --primary-color: #252323;
  --secondary-color: #ffff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin-top: 0;
}

.Time {
  font-size: 48px;
}

.toggle {
  cursor: pointer;
  display: flex;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 15px;
  padding: 12px;
  margin: 10px auto 0px auto;
  
}

html.DarkMode {
  background: var(--primary-color);
  color: var(--secondary-color);
}

html.DarkMode{
    transition: all 0.5s ease-in;
}