*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body{
    background: #D8AE7E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    background-color: #FFE0B5;
    margin: 30px auto;
    padding: 35px;
    border-radius: 25px;
    width: 350px;
}

h3{
    color: #000000;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

input{
    border: 1px solid #ffffff;
    border-radius: 15px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.btn{
    background: #F8C794;
    border: 20px;
    border-radius: 20px;
    cursor: pointer;
    color: #000000;
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px;
    font-size: 16px;
    width: 35%;
}